#footer {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(8, 8, 8);
    bottom: 0;
    color: aliceblue;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 17px;
}

#footer-text {
    text-align: center;
    width: 100%;
}